*{
	margin: 0;
	padding: 0;
}
.menu {
	font-family: 'Pacifico', cursive;
	background: #b0cdde;
	line-height: 100px;
	font-size: 0px;
	text-align: center;
}
.menu li{
	/*transition: 0.5s;*/
	display: inline-block;
	font-size: 30px;
	padding: 10px;
}
.menu nav{
	line-height: 50px;
	position: absolute;
	/*display: none;*/
	max-height: 0;
	background: #827878;
	border-radius: 10px;
	/*top: 100px;*/
	overflow: hidden;
	transition: 0.1s;
	top: 120px;
	opacity: 0;
}
.menu >li:hover nav{
	display: block;
	/*top: 125px;*/
	max-height: 350px;
	opacity: 1;
}
.menu >li:hover{
	background: #a3bccc;
}
.menu a{
	text-decoration: none;
	color: black;
}
.menu nav li{
	display: block;
}
.carousel{
	overflow: hidden;
}
.slider{
	height: 650px;
	white-space: nowrap;
	overflow-x: scroll;
	font-size: 0;

}
.slider::-webkit-scrollbar{
	display: none;
}
.slider img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.buttons{
	font-size: 60px;
	text-align: center;
}
.buttons a{
	text-decoration: none;
	color: gray;
	background: linear-gradient(to right,#e5e7e8,#d0d3d4);
	display: block;
	width: 50%;
	float: left;
}
.gallery{
	padding: 20px;
}
.gallery img{
	transition: 1s;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.gallery a{
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	width: calc(50% - 10px);
	background: pink;
	display: inline-block;
}
.gallery a:hover img{
	transform: scale(1.1);
}
.gallery a:nth-of-type(6n+1){
	background: plum;
	height: 290px;
}
.gallery a:nth-of-type(6n+2){
	float: right;
	background: grey;
	height: 600px;
}
.gallery a:nth-of-type(6n+3){
	background: pink;
	height: 290px;
}
.gallery a:nth-of-type(6n+4){
	background: orange;
	height: 290px;
}
.gallery a:nth-of-type(6n+5){
	background: tomato;
	height: 600px;
	float: left;
	margin-right: 20px;
}
.gallery a:nth-of-type(6n+6){
	height: 290px;
}
.gallery h4{
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	line-height: 50px;
	border-radius: 5px; 
	background: white;
	padding: 0px 20px;
	color: #000000;
	font-size: 30px;
	font-family: 'Caveat';
	position: absolute;
	top: 10px;
	left: 10px;
}
.gallery h5{
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	line-height: 50px;
	border-radius: 5px; 
	background: white;
	padding: 0px 20px;
	color: #000000;
	font-size: 30px;
	font-family: 'Caveat';
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.servis {
	margin: auto;
	width: 900px;
	font-size: 0;
}
.servis h2{
	text-align: center;
}
.servis a{
	color: grey;
	font-family: 'Caveat';
	text-decoration: none;
	box-sizing: border-box;
	border: 1px solid grey;
	text-align: center;
	height: 450px;
	background: #ece4e5;
	display: inline-block;
	width: 50%;
}
.servis img{
	margin-top: 70px;
	width: 52%;
}
.servis p{
	margin-top: 20px;
	font-size: 30px;
}
.news h2{
	text-align: center;
	font-family: sans-serif;
	color: #333;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}
.dailyNews{
	margin: auto;
	margin-bottom: 10px;
	border: 1px solid #aaa;
	width: 90%;
	max-width: 800px;
}
iframe{
	height: 300px;
	width: 100%;
}
.dailyNews p{
	text-align: center;
	font-family: sans-serif;
	color: #333;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 20px;
}
.dailyNews h3{
	text-align: center;
	font-family: sans-serif;
	color: #333;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}
.dailyNews p:nth-of-type(2){
	text-align: left;
}
@media (max-width: 600px){
.servis{
	width: 100%;
}
.servis h2{
	text-align: center;
}
.servis a{
	color: grey;
	font-family: 'Caveat';
	text-decoration: none;
	box-sizing: border-box;
	border: 1px solid grey;
	text-align: center;
	height: 450px;
	background: #ece4e5;
	display: block;
	width: 100%;
}
.servis img{
	margin-top: 70px;
	width: 52%;
}
.servis p{
	margin-top: 20px;
	font-size: 30px;
}
}